<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card style="width: 100%;">
          <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzType="flex">
            <button nz-button nzType="primary" class="primary">{{'ADMIN.BUTTON_NEWUSER' | translate}}<i nz-icon nzType="user"></i></button>
          </div>
          
            <nz-table #middleTable nzSize="middle" [nzData]="users">
                <thead >
                    <tr>
                      <th>{{'ADMIN.USER.TABLE_NAME' | translate}}</th>
                      <th>{{'ADMIN.USER.TABLE_EMAIL' | translate}}</th>
                      <th>{{'ADMIN.USER.TABLE_PHONENUMBER' | translate}}</th>
                      <th>{{'ADMIN.USER.TABLE_STATUS' | translate}}</th>
                      <th>{{'ADMIN.USER.TABLE_MANAGE' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of middleTable.data">
                      <td>{{ user.displayName }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.phoneNumber }}</td>
                      <td></td>
                      <td>
                          <button nz-button nzType="primary" class="primary"><i nz-icon nzType="edit"></i></button>
                          <button nz-button nzType="primary" class="danger"><i nz-icon nzType="delete"></i></button>
                      </td>
                    </tr>
                  </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>