.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  background-image: url("../../assets/img/portal/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 110px;
  margin-left: 30px;
  height: 64px;
  cursor: pointer;
}

.logo:focus {
  outline: none;
}


nz-header {
  width: 100%;
  background: #fff;
  padding-left: 0;
  padding-right: 60px;
  max-height: 64px;
}


nz-content {
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}

.scrollable-content{
}

.scrollable-section{
}

//@media (min-width: 481px) {
  nz-content {
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    //
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  .scrollable-content{

  }
  .scrollable-section{
    scroll-snap-align: start;
  }
//}

nz-sider{
}

.portal-login-button {
  float: right;
  line-height: 64px;
}
