<div class="validate-c-container">
  <h3>{{ 'COMMONS.LOGIN.TITLE' | translate }}</h3>
  <h4>{{ 'COMMONS.LOGIN.SUBTITLE' | translate }}</h4>
  <!-- LOGIN FORM -->
  <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- Form item 1 -->
    <nz-form-item class="login-form-item-inputs">
      <!-- Form item 1.1: USERNAME -->
      <nz-form-control [nzSpan]="12">
        <nz-input-group nzSize="large" nzAddOnBeforeIcon="user">
          <input nz-input appAutoFocus formControlName="username" [placeholder]="'COMMONS.LOGIN.USERNAME' | translate"/>
        </nz-input-group>
      </nz-form-control>
      <!-- Form item 1.1: DOMAIN -->
      <nz-form-control [nzSpan]="12">
        <nz-input-group nzSize="large" nzAddOnBefore="@">
          <input nz-input formControlName="domain" [placeholder]="'COMMONS.LOGIN.DOMAIN' | translate"/>
        </nz-input-group>
      </nz-form-control>
      <div class="login-error" *ngIf="submitted && validateForm.invalid">
        {{'COMMONS.LOGIN.LOGIN_ERROR' | translate}}
      </div>
      <div>
        <a nz-button
           nzType="link"
           nzSize="large"
           class="login-forgot-button">
          {{'COMMONS.LOGIN.FORGOT' | translate}}
        </a>
      </div>
    </nz-form-item>

    <!-- Form item 3: Buttons -->
    <nz-form-item nzType="flex" nzJustify="space-between">
      <nz-form-control>
        <a nz-button nzBlock
           nzType="link"
           nzSize="large"
           tabindex="-1"
           [routerLink]="['/','commons','register']">
          {{'COMMONS.LOGIN.REGISTER' | translate}}
        </a>
      </nz-form-control>

      <nz-form-control>
        <button nz-button nzBlock
                nzType="primary"
                nzSize="large"
                [disabled]="disabled">
          {{'COMMONS.LOGIN.NEXT' | translate}}
        </button>
      </nz-form-control>
    </nz-form-item>

  </form>
  <div style="min-height: 35px;">
    <nz-alert *ngIf="errorMessage"
              nzBanner
              [nzMessage]="errorMessage | translate"
              nzCloseable
    ></nz-alert>
  </div>
</div>
