<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card style="width:100%;">
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                <!-- <nz-tabset nzSize="large"> -->
                <nz-tab [nzTitle]="titleCaracteristicasTemplate">
                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="22">
                            <nz-divider nzText="{{'ADMIN.APPLICATION.ACTIVE.DETAILS' | translate}}" nzOrientation="left"></nz-divider>
                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                <div nz-col [nzSpan]="22">
                                    <nz-card style="width:100%;">
                                        Aca detalles del servicio
                                    </nz-card>
                                </div>
                            </div>
                            <nz-divider nzText="{{'ADMIN.APPLICATION.ACTIVE.SECURITY' | translate}}" nzOrientation="left"></nz-divider>
                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                <div nz-col [nzSpan]="22">
                                    <nz-card style="width:100%;">
                                        <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex" style="margin-bottom: 8px;">
                                            <div nz-col [nzSpan]="2">
                                                <nz-form-label nzFor="k1">K1</nz-form-label>
                                            </div>
                                            <div nz-col [nzSpan]="14">
                                                <textarea readonly [nzAutosize]="{ minRows: 4, maxRows: 4 }" nz-input value="{{k1}}"></textarea>
                                            </div>
                                            <div nz-col [nzSpan]="2">
                                                <button nz-button nzType="primary" class="primary" [nzLoading]="k1Loading"
                                                    (click)="regenerateK1()"><i nz-icon [nzType]="'sync'"></i></button>
                                            </div>
                                        </div>
                                        <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                            <div nz-col [nzSpan]="2">
                                                <nz-form-label nzFor="k2">K2</nz-form-label>
                                            </div>
                                            <div nz-col [nzSpan]="14">
                                                <textarea readonly [nzAutosize]="{ minRows: 4, maxRows: 4 }" nz-input value="{{k2}}"></textarea>
                                            </div>
                                            <div nz-col [nzSpan]="2">
                                                <button nz-button nzType="primary" class="primary" [nzLoading]="k2Loading"
                                                    (click)="regenerateK2()"><i nz-icon [nzType]="'sync'"></i></button>
                                            </div>
                                        </div>
                                    </nz-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="titleConfiguracionTemplate">
                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="22">
                            <ng-container *ngFor="let component of appComponents">
                                <nz-divider nzText="{{component.c7052}}" nzOrientation="left"></nz-divider>
                                <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                    <div nz-col [nzSpan]="22">
                                        <nz-card style="width:100%;">
                                            <ng-container *ngIf="component.c7054 === componentType.IVR">
                                                <form nz-form nzLayout="vertical" [formGroup]="ivrForm">
                                                    <div nz-row nzAlign="middle" nzJustify="space-between"
                                                        nzType="flex">
                                                        <div nz-col [nzSpan]="11">
                                                            <nz-form-item>
                                                                <nz-form-label>{{'ADMIN.LABEL_IVR_DISPLAYNAME' | translate}}
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <input nz-input formControlName="displayName"/>
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                        <div nz-col [nzSpan]="11">
                                                            <nz-form-item>
                                                                <nz-form-label>{{'ADMIN.LABEL_IVR_USER' | translate}}
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <input nz-input formControlName="userName"/>
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                    </div>
                                                    <div nz-row nzAlign="middle" nzJustify="space-between"
                                                        nzType="flex">
                                                        <div nz-col [nzSpan]="11">
                                                            <nz-form-item>
                                                                <nz-form-label>{{'ADMIN.LABEL_IVR_AUTHUSER' | translate}}
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <input nz-input
                                                                        formControlName="authorizationUserName"/>
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                        <div nz-col [nzSpan]="11">
                                                            <nz-form-item>
                                                                <nz-form-label>{{'ADMIN.LABEL_IVR_PASSWORD' | translate}}
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <input nz-input formControlName="password" type="password"/>
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                    </div>
                                                    <div nz-row nzAlign="middle" nzJustify="space-between"
                                                        nzType="flex">
                                                        <div nz-col [nzSpan]="11">
                                                            <nz-form-item>
                                                                <nz-form-label>{{'ADMIN.LABEL_IVR_DOMAIN' | translate}}
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <input nz-input formControlName="domain"/>
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                        <div nz-col [nzSpan]="11">
                                                            <nz-form-item>
                                                                <nz-form-label>{{'ADMIN.LABEL_IVR_PORT' | translate}}
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <input nz-input formControlName="port" type="number"/>
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                    </div>
                                                    <div nz-row nzAlign="middle" nzJustify="space-between"
                                                        nzType="flex">
                                                        <div nz-col [nzSpan]="11">
                                                            <nz-form-item>
                                                                <nz-form-label>{{'ADMIN.LABEL_IVR_PORTTYPE' | translate}}
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <input nz-input formControlName="portType"/>
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                    </div>
                                                    <nz-form-item>
                                                        <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="end"
                                                            nzType="flex">
                                                            <div nz-col>
                                                                <nz-form-control nzAlign="middle" nzType="flex"
                                                                    nzJustify="end">
                                                                    <button nz-button nzType="primary" class="secondary"
                                                                        (click)="editConfiguration(component)">{{'ADMIN.BUTTON_EDIT' | translate}}<i
                                                                            nz-icon [nzType]="'edit'"></i></button>
                                                                </nz-form-control>
                                                            </div>
                                                            <div nz-col>
                                                                <nz-form-control nzAlign="middle" nzType="flex"
                                                                    nzJustify="end">
                                                                    <button nz-button nzType="primary" class="primary" [nzLoading]="saveLoading"
                                                                        (click)="showConfirm(component)"
                                                                        [disabled]="ivrForm.invalid || ivrForm.disabled">{{'ADMIN.BUTTON_SAVE' | translate}}<i
                                                                            nz-icon [nzType]="'save'"></i></button>
                                                                </nz-form-control>
                                                            </div>
                                                        </div>
                                                    </nz-form-item>
                                                </form>
                                            </ng-container>
                                            <ng-container *ngIf="component.c7054 === componentType.SELF_SERVICE">
                                                <form nz-form nzLayout="vertical" [formGroup]="selfServiceForm">
                                                    <div nz-row nzAlign="middle" nzJustify="space-between"
                                                        nzType="flex">
                                                        <div nz-col [nzSpan]="11">
                                                            <nz-form-item>
                                                                <nz-form-label>{{'ADMIN.LABEL_URL' | translate}}
                                                                </nz-form-label>
                                                                <nz-form-control>
                                                                    <input nz-input formControlName="url"/>
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                    </div>
                                                    <nz-form-item>
                                                        <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="end"
                                                            nzType="flex">
                                                            <div nz-col>
                                                                <nz-form-control nzAlign="middle" nzType="flex"
                                                                    nzJustify="end">
                                                                    <button nz-button nzType="primary" class="secondary"
                                                                        (click)="editConfiguration(component)">{{'ADMIN.BUTTON_EDIT' | translate}}<i
                                                                            nz-icon [nzType]="'edit'"></i></button>
                                                                </nz-form-control>
                                                            </div>
                                                            <div nz-col>
                                                                <nz-form-control nzAlign="middle" nzType="flex"
                                                                    nzJustify="end">
                                                                    <button nz-button nzType="primary" class="primary" [nzLoading]="saveLoading"
                                                                        (click)="showConfirm(component)"
                                                                        [disabled]="selfServiceForm.invalid || selfServiceForm.disabled">{{'ADMIN.BUTTON_SAVE' | translate}}<i
                                                                            nz-icon [nzType]="'save'"></i></button>
                                                                </nz-form-control>
                                                            </div>
                                                        </div>
                                                    </nz-form-item>
                                                </form>
                                            </ng-container>
                                        </nz-card>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="titleSoftwareTemplate">
                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="22">
                            <nz-divider nzText="{{'ADMIN.APPLICATION.ACTIVE.DOWNLOADS' | translate}}" nzOrientation="left"></nz-divider>
                            <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <div nz-col [nzSpan]="22">
                                    <nz-card style="width:100%;">
                                        <a href="javascript:;" (click)="downloadAgent()">Olympus
                                            Universal Moneta Agent <i nz-icon [nzType]="'cloud-download'"></i></a>
                                    </nz-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="titleStatusTemplate">
                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="22">
                            <nz-divider nzText="{{'ADMIN.APPLICATION.ACTIVE.SERVER' | translate}}" nzOrientation="left"></nz-divider>
                            <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <div nz-col [nzSpan]="22">
                                    <nz-card style="width:100%;">
                                        <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div nz-col [nzSpan]="11">
                                                Estado del servicio
                                            </div>
                                            <div nz-col [nzSpan]="4" style="color: green">
                                                Online &nbsp; <i nz-icon nzType="check" nzTheme="outline"></i>
                                            </div>
                                        </div>
                                        <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div nz-col [nzSpan]="11">
                                                Estado del servicio
                                            </div>
                                            <div nz-col [nzSpan]="4" style="color: red">
                                                Offline &nbsp; <i nz-icon nzType="close" nzTheme="outline"></i>
                                            </div>
                                        </div>
                                        <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center"
                                            nzType="flex">
                                            <div nz-col [nzSpan]="11">
                                                Mensajes en Cola no Atendidos
                                            </div>
                                            <div nz-col [nzSpan]="4">
                                                54
                                            </div>
                                        </div>
                                    </nz-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>
        </nz-card>
    </div>
</div>





<!-- <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="22">
        <nz-card style="width:100%;" [nzTitle]="titleCaracteristicasTemplate" nzHoverable>
            <p>descripcion</p>
        </nz-card>
    </div>
</div>
<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="22">
        <nz-card style="width:100%;" [nzTitle]="titleConfiguracionTemplate" nzHoverable>
        </nz-card>
    </div>
</div>
<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="22">
        <nz-card style="width:100%;" [nzTitle]="titleSeguridadTemplate" nzHoverable>
            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="2">
                    <nz-form-label nzFor="k1">K1</nz-form-label>
                </div>
                <div nz-col [nzSpan]="14">
                    <input nz-input id="k1" readonly value="{{k1}}" />
                </div>
                <div nz-col [nzSpan]="4">
                    <button nz-button nzType="primary" [nzLoading]="k1Loading" (click)="regenerateK1()"><i nz-icon
                            [nzType]="'sync'"></i></button>
                </div>
            </div>
            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                <div nz-col [nzSpan]="2">
                    <nz-form-label nzFor="k2">K2</nz-form-label>
                </div>
                <div nz-col [nzSpan]="14">
                    <input nz-input id="k2" readonly value="{{k2}}" />
                </div>
                <div nz-col [nzSpan]="4">
                    <button nz-button nzType="primary" [nzLoading]="k2Loading" (click)="regenerateK2()"><i nz-icon
                            [nzType]="'sync'"></i></button>
                </div>
            </div>
        </nz-card>
    </div>
</div>

<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="22">
        <nz-card style="width:100%;" [nzTitle]="titleSoftwareTemplate" nzHoverable>
            <div nz-row>
                <div nz-col [nzSpan]="12" [nzOffset]="2">
                    <a href="javascript:;" (click)="downloadAgent()">Olympus
                        Universal Moneta Agent <i nz-icon [nzType]="'cloud-download'"></i></a>
                </div>
            </div>
        </nz-card>
    </div>
</div> -->

<ng-template #titleCaracteristicasTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.APPLICATION.FEATURES' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #titleConfiguracionTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.APPLICATION.INITIAL_SETUP' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #titleSoftwareTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.APPLICATION.SOFTWARE' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #titleStatusTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.APPLICATION.STATUS' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #avatarTemplate>
    <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>