.validate-c-container {
  width: 100%;

  h3 {
    text-align: center;
    margin-bottom: 8px;
    color: rgb(32, 33, 36);;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
  }
  h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    color: rgb(32, 33, 36);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
  }
}

.login-error {
  color: red;
}

.login-forgot-button {
  font-size: 14px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // color: #001529;
}