<div class="validate-c-container">
    <h3>{{ 'COMMONS.LOGIN.TITLE' | translate }}</h3>
    <h4>{{ 'COMMONS.LOGIN.SUBTITLE' | translate }}</h4>
    <!-- LOGIN FORM -->
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <!-- Form item 1 -->
        <nz-form-item class="login-form-item-inputs">
            <!-- Form item 1.1: USERNAME -->
            <nz-form-control [nzSpan]="12" [nzErrorTip]="'COMMONS.LOGIN.USERNAME_ERROR' | translate">
                <nz-input-group nzSize="large" nzAddOnBeforeIcon="user">
                    <input nz-input appAutoFocus formControlName="username" (keypress)="uNoSymbols($event, username)"
                    (paste)="uNoSymbols($event, username)"
                        [placeholder]="'COMMONS.LOGIN.USERNAME' | translate" />
                </nz-input-group>
            </nz-form-control>
            <!-- Form item 1.1: DOMAIN -->
            <nz-form-control [nzSpan]="12" [nzErrorTip]="'COMMONS.LOGIN.DOMAIN_ERROR' | translate">
                <nz-input-group nzSize="large" nzAddOnBefore="@">
                    <input nz-input formControlName="domain" (keypress)="dNoSymbols($event, domain)"
                    (paste)="dNoSymbols($event, domain)" [placeholder]="'COMMONS.LOGIN.DOMAIN' | translate" />
                </nz-input-group>
            </nz-form-control>
            <!-- <div class="login-error" *ngIf="submitted && validateForm.invalid">
                {{'COMMONS.LOGIN.LOGIN_ERROR' | translate}}
            </div> -->
        </nz-form-item>
        <nz-form-item>
            <div nz-row>
                <nz-form-control [nzSpan]="24" [nzErrorTip]="'COMMONS.LOGIN.PASSWORD_ERROR' | translate">
                    <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate" nzAddOnBeforeIcon="lock">
                        <input appAutoFocus nz-input [type]="passwordVisible ? 'text' : 'password'"
                            formControlName="password" autocomplete="new-password"
                            (keypress)="pNoSymbols($event, password)" (paste)="pNoSymbols($event, password)"
                            [placeholder]="'COMMONS.LOGIN.PASSWORD' | translate" />
                    </nz-input-group>
                    <ng-template #suffixTemplate>
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                </nz-form-control>
            </div>
            <div nz-row nzAlign="middle" nzJustify="space-between" nzType="flex">
                <a nz-button nzType="link" nzSize="large" class="login-forgot-button"
                    (click)="goForgotPassword()">
                    {{'COMMONS.LOGIN.LABEL.FORGOT_PASSWORD' | translate}}
                </a>
                <a nz-button nzType="link" nzSize="large" class="login-forgot-button"
                    (click)="goRestoreUser()">
                    {{'COMMONS.LOGIN.LABEL.RESTORE_USER' | translate}}
                </a>
            </div>
        </nz-form-item>
        <!-- Form item 3: Buttons -->
        <nz-form-item nzType="flex" nzJustify="space-between">
            <nz-form-control>
                <a nz-button nzBlock nzType="link" nzSize="large" tabindex="-1" class="link"
                    [routerLink]="['/','commons','register']">
                    {{'COMMONS.LOGIN.REGISTER' | translate}}
                </a>               
            </nz-form-control>
            <nz-form-control>
                <button nz-button nzBlock nzType="primary" nzSize="large" [disabled]="disabled">
                    {{'COMMONS.LOGIN.NEXT' | translate}}
                </button>
            </nz-form-control>
        </nz-form-item>

    </form>
    <div style="min-height: 35px;">
        <nz-alert *ngIf="errorMessage" nzBanner [nzMessage]="errorMessage | translate" nzCloseable></nz-alert>
    </div>
</div>