<div class="common-container">
    <div class="common-titles">
        <h3>{{ 'COMMONS.FORGOT.USER.CONFIRM_TITLE' | translate }}</h3>
    </div>
    <form nz-form nzLayout="vertical">
        <nz-form-item class="center" nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-progress [nzPercent]="100" nzType="circle" [nzWidth]="100"></nz-progress>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="center" nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <span style="font-size: 15px;">{{ 'COMMONS.FORGOT.USER.LABEL.RESTORE_SUCCESS' | translate }}</span>
            </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item class="center" nzType="flex" nzJustify="center">
            <div nz-row>
                <span style="font-size: 15px;">{{ 'COMMONS.FORGOT.USER.LABEL.SEND_TO' | translate }} {{userMail}}</span>
            </div>
            <div nz-row>
                <span style="font-size: 15px;">{{ 'COMMONS.FORGOT.USER.LABEL.TIPS' | translate }}</span>
            </div>
        </nz-form-item> -->
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-form-item nzType="flex" nzJustify="center">
                    <nz-form-control>
                        <button nz-button nzType="primary" [nzSize]="inputSize" (click)="goLogin()">
                            {{'COMMONS.FORGOT.USER.BUTTON.LOGIN' | translate}}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>