<div class="cntm-common-register-container">
  <h3>{{ 'COMMONS.COMPANY.TITLE' | translate }}</h3>
  <h4 *ngIf="firstState">{{ (firstState.username + '@' + firstState.domain + '.olympus-cloud.com') | lowercase }}</h4>
  <!--  <h4>{{ 'COMMONS.PERSONAL.SUBTITLE' | translate }}</h4>-->
</div>
<!-- REGISTER FORM -->
<form nz-form nzLayout="vertical" [formGroup]="companyDataForm" (ngSubmit)="submitForm()">
  <!-- Form item 1 company name -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'COMMONS.COMPANY.NAME_ERROR' | translate">
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="shop">
        <input nz-input appAutoFocus
               formControlName="company" autocomplete="organization"
               [placeholder]="'COMMONS.COMPANY.NAME' | translate"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!-- Form item 2 document number -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'COMMONS.COMPANY.DOCUMENT_ERROR' | translate">
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="number">
        <input nz-input
               formControlName="document" autocomplete=""
               [placeholder]="'COMMONS.COMPANY.DOCUMENT' | translate"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Form item 2 departamento/estado -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'COMMONS.COMPANY.STATE_ERROR' | translate">
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="line">
        <input nz-input
               formControlName="state" autocomplete="address-level1"
               [placeholder]="'COMMONS.COMPANY.STATE' | translate"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!-- Form item 3 provincia -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'COMMONS.COMPANY.PROVINCE_ERROR' | translate">
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="line">
        <input nz-input
               formControlName="province" autocomplete="address-level2"
               [placeholder]="'COMMONS.COMPANY.PROVINCE' | translate"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Form item 4 ciudad -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'COMMONS.COMPANY.CITY_ERROR' | translate">
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="line">
        <input nz-input
               formControlName="city" autocomplete="address-level3"
               [placeholder]="'COMMONS.COMPANY.CITY' | translate"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!-- Form item 5 address 1 -->
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'COMMONS.COMPANY.ADDRESS_ERROR' | translate">
      <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="environment">
        <input nz-input
               formControlName="address1" autocomplete="address-line1"
               [placeholder]="'COMMONS.COMPANY.ADDRESS1' | translate"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
    <!-- Form item 6 address 2 -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'COMMONS.COMPANY.ADDRESS_ERROR' | translate">
        <nz-input-group [nzSize]="inputSize" nzAddOnBeforeIcon="environment">
          <input nz-input
                 formControlName="address2" autocomplete="address-line2"
                 [placeholder]="'COMMONS.COMPANY.ADDRESS2' | translate"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  
  
  <!-- Form item 7 actions! -->
  <nz-form-item nzType="flex" nzJustify="space-between">
    <nz-form-control>
      <a nz-button nzBlock
         nzType="link"
         nzSize="large"
         tabindex="-1"
         (click)="back()">
        {{'COMMONS.COMPANY.BACK' | translate}}
      </a>
    </nz-form-control>

    <nz-form-control>
      <nz-button-group nzSize="large">
        <button nz-button
                nzType="primary"
                [disabled]="disabled">
          {{'COMMONS.COMPANY.NEXT' | translate}}
        </button>
      </nz-button-group>

    </nz-form-control>
  </nz-form-item>
</form>

<div style="min-height: 35px;">
  <nz-alert *ngIf="errorMessage"
            [nzMessage]="errorMessage | translate"
            nzType="error"
            nzCloseable
  ></nz-alert>
</div>

