<div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
    <div nz-col [nzSpan]="23">
        <nz-card style="width:100%;">
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                <!-- <nz-tabset nzSize="large"> -->
                <nz-tab [nzTitle]="titleCaracteristicasTemplate">
                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="22">
                            <nz-divider nzText="{{'ADMIN.APPLICATION.ACTIVE.DETAILS' | translate}}" nzOrientation="left"></nz-divider>
                            <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                <div nz-col [nzSpan]="22">
                                    <nz-card style="width:100%;">
                                    </nz-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="titleConfiguracionTemplate">
                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="22">
                            <ng-container *ngFor="let component of appComponents">
                                <nz-divider nzText="{{component.c7052}}" nzOrientation="left"></nz-divider>
                                <div nz-row nzAlign="middle" [nzGutter]="8" nzJustify="center" nzType="flex">
                                    <div nz-col [nzSpan]="22">
                                        <nz-card style="width:100%;">                                            
                                        </nz-card>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="titleSoftwareTemplate">
                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="22">
                            <nz-divider nzText="{{'ADMIN.APPLICATION.ACTIVE.DOWNLOADS' | translate}}" nzOrientation="left"></nz-divider>
                            <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <div nz-col [nzSpan]="22">
                                    <nz-card style="width:100%;">
                                    </nz-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="titleStatusTemplate">
                    <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                        <div nz-col [nzSpan]="22">
                            <nz-divider nzText="{{'ADMIN.APPLICATION.ACTIVE.SERVER' | translate}}" nzOrientation="left"></nz-divider>
                            <div nz-row style="margin-bottom: 8px;" nzAlign="middle" nzJustify="center" nzType="flex">
                                <div nz-col [nzSpan]="22">
                                    <nz-card style="width:100%;">
                                    </nz-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>
        </nz-card>
    </div>
</div>

<ng-template #titleCaracteristicasTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.APPLICATION.FEATURES' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #titleConfiguracionTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.APPLICATION.INITIAL_SETUP' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #titleSoftwareTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.APPLICATION.SOFTWARE' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #titleStatusTemplate>
    <nz-card-meta nzTitle="{{'ADMIN.APPLICATION.STATUS' | translate}}" [nzAvatar]="avatarTemplate">
    </nz-card-meta>
</ng-template>

<ng-template #avatarTemplate>
    <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>