<div class="footer-container">
  <div nz-row nzType="flex" nzJustify="center" nzAlign="top">
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzXl]="1" [nzXXl]="1">
    </div>

    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzXl]="6" [nzXXl]="6">
      <div>
        <div class="footer-logo"></div>
        <div class="footer-copyright">{{'PRINCIPAL.FOOTER.COPYRIGHT' | translate}}</div>
        <div class="footer-made-in">{{'PRINCIPAL.FOOTER.MADE_IN' | translate}}</div>
        <div nz-row nzType="flex" nzJustify="start">
          <div><i nz-icon nzType="facebook" nzTheme="outline"></i></div>
          <div><i nz-icon nzType="twitter" nzTheme="outline"></i></div>
          <div><i nz-icon nzType="linkedin" nzTheme="outline"></i></div>
          <div><i nz-icon nzType="youtube" nzTheme="outline"></i></div>
          <div><i nz-icon nzType="instagram" nzTheme="outline"></i></div>
          <div><i nz-icon nzType="message" nzTheme="outline"></i></div>
        </div>
      </div>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="6" [nzMd]="4" [nzXl]="4" [nzXXl]="4">
      <app-link-item [title]="'PRINCIPAL.FOOTER.A.TITLE' | translate" [data]="dataA"></app-link-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="6" [nzMd]="4" [nzXl]="4" [nzXXl]="4">
      <app-link-item [title]="'PRINCIPAL.FOOTER.B.TITLE' | translate" [data]="dataB"></app-link-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="4" [nzXl]="4" [nzXXl]="4">
      <app-link-item [title]="'PRINCIPAL.FOOTER.C.TITLE' | translate" [data]="dataC"></app-link-item>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="4" [nzXl]="4" [nzXXl]="4">
      <app-link-item [title]="'PRINCIPAL.FOOTER.D.TITLE' | translate" [data]="dataD"></app-link-item>
    </div>

    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="1" [nzXl]="1" [nzXXl]="1"></div>
  </div>
</div>


