<div class="community-container">
  <div class="headline">
    <div class="title">
      {{'PRINCIPAL.COMMUNITY.REGISTER_NOW' | translate}}
    </div>
  </div>
  <div class="community-buttons" nz-row nzType="flex" nzJustify="space-around" nzAlign="top">
    <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="6" [nzXl]="8" [nzXXl]="7"></div>
    <div nz-col [nzXs]="9" [nzSm]="9" [nzMd]="5" [nzXl]="3" [nzXXl]="4">
      <button nz-button nzType="default" nzSize="large" nzBlock routerLink="/commons/register">
        {{'PRINCIPAL.REGISTER' | translate}}
      </button>
    </div>
    <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="2" [nzXl]="2" [nzXXl]="2"></div>
    <div nz-col [nzXs]="9" [nzSm]="9" [nzMd]="5" [nzXl]="3" [nzXXl]="4">
      <button nz-button nzType="primary" nzSize="large" nzBlock routerLink="/commons">
        {{'PRINCIPAL.LOGIN' | translate}}
      </button>
    </div>
    <div nz-col [nzXs]="2" [nzSm]="2" [nzMd]="6" [nzXl]="8" [nzXXl]="7"></div>
  </div>
</div>
