<div class="welcome-content">

  <!-- col 1 : CAROUSEL nz-row nzType="flex" nzJustify="space-around" nzAlign="middle"-->
  <div style="flex: 1; display: flex;">
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzXl]="14" [nzXXl]="16" style="flex:1">
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let index of bannerText" class="headline">
          <div class="title">
            {{ index | translate}}
          </div>
        </div>
      </nz-carousel>
    </div>

    <!-- col 2 : FORM -->
    <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="12" [nzXl]="10" [nzXXl]="8">
      <nz-card class="welcome-login-card">
        <!--        <app-validate></app-validate>-->
        <app-login></app-login>

      </nz-card>
    </div>
  </div>
</div>