<div class="common-container">
    <div class="common-titles">
        <h3>{{ 'COMMONS.FORGOT.PASSWORD.CODE_TITLE' | translate }}</h3>
        <h4>{{ userName }}</h4>
    </div>
    <form nz-form nzLayout="vertical">
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-input-group [nzSize]="inputSize">
                    <input class="center" nz-input [formControl]="code" autocomplete="code"
                        (keypress)="codeOnlyNumber($event, code)"
                        (paste)="codeOnlyNumber($event, code)"
                        [placeholder]="'COMMONS.FORGOT.PASSWORD.PLACEHOLDER.SECURITY_CODE' | translate" appAutoFocus tabindex="1" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>        
        <nz-form-item nzType="flex" nzJustify="center">
            <nz-form-control [nzSpan]="20">
                <nz-form-item nzType="flex" nzJustify="space-between">
                    <nz-form-control [nzSpan]="6">
                        <button nz-button nzType="primary" [nzSize]="inputSize" [disabled]="!codeForm.valid" (click)="goRestorePassword()">
                            {{'COMMONS.FORGOT.PASSWORD.BUTTON.CONTINUE' | translate}}
                        </button>
                    </nz-form-control>
                    <nz-form-control [nzSpan]="6">
                        <button nz-button nzBlock nzType="default" [nzSize]="inputSize" (click)="back()">
                            {{'COMMONS.FORGOT.PASSWORD.BUTTON.CANCEL' | translate}}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>