img {
    width:100%;
    height:140px;
}

nz-card .fixed {
    width:140px;
    height:140px;
    margin-bottom:8px;
    border-radius: 0px;
}

[nzHoverable] {
    &:hover {   
        box-shadow:5px 10px 8px #888888;
    }
}


