@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

@primary-color: rgb(0, 65, 147);
// @primary-color: rgb(160, 234, 247);
@font-family: 'Helvetica Neue', Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
// @layout-header-background : rgb(109, 109, 109);
// @menu-dark-submenu-bg : rgb(255, 104, 97);